<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
<main class="main-about">
	<div class="about-content">
		<p class="about-content-text-head">
			Наши ценности, методики производства (кто приезжает на уборки, в чем, с чем и тд) и цели
		</p>
		<p class="about-content-text-head">
			Аргументация первого слайда главной страницы
		</p>
		<p class="about-content-text">
			Чтобы достичь высокого качества, необходимы определенные трудозатраты. Простоя формула, которая
			действует всегда и везде (не берем безответственных и людей) – чем больше тратишь времени, тем лучше
			результат. В нашем деле важна скорость работы. Чтобы не терять качество при высоких скоростях уборки
			работники тратят усилия, за которые вы и платите.
		</p>
		<p class="about-content-text">
			По итогу маркетингового исследования, в котором изучалось 30 самых популярных клининговых компаний,
			выяснилось, что 68% (или 2/3) компаний на генеральных уборках не моют внутри ни холодильник, ни
			микроволновку, ни духовку.
		</p>
		<p class="about-content-text">
			Честность – цена в расчете стоимости является конечной до конца оформления заказа (цена может
			измениться после осмотра объекта в зависимости от загрязненности или заставленности объема.
			Например: заказана стандартная уборка, в которой удаляются легкие загрязнения. По-факту на кухонном
			фартуке обнаружили сильные жировые загрязнения. Чтобы их убрать, нужно приложить дополнительные
			усилия, потратить хим. средства – это все трудозатраты, которые должны оплачиваться.
		</p>
		<p class="about-content-text">
			Качество – мы уверенны в высоком качестве своей работы. 1) Собственная программа обучения,
			разработанная на основе длительного опыта основателей компании. Наши сотрудники мотивированны. Цена
			уборки диктует зарплату клинера – высокая зарплата в совокупности с финансовым пакетом поддержки
			располагает сотрудника оставаться в компании и выполнять уборку на высоком качестве. В противном
			случае сотрудник увольняется.
			o Открытость – нам скрывать нечего. Клинер подписывает с вами договор на уборку, после приема вы
			подписываете акт сдачи-приемки работ. Если есть недочеты – сотрудник их сразу исправляет.
		</p>
		<p class="about-content-text-head">
			Все про акции
		</p>
		<p class="about-content-text">
			«Новичок». Скидка 20 процентов на первую уборку. Нельзя получить дважды по одному адресу и/или
			номеру телефона в совокупности с ФИО заказчика. Рассчитывается автоматически.
		</p>
		<p class="about-content-text">
			«Лучший друг». Скидка 30 процентов клиенту, который сделал хоть один заказ и чей номер телефона и
			ФИО указал новый клиент.
		</p>
		<p class="about-content-text">
			«Привет, студент». Скидка 10 процентов при предоставлении действующего и продленного студенческого
			билета.
		</p>
		<p class="about-content-text">
			«Дай пять». Каждый пятый заказ выполняется бесплатно. Стандартная и поддерживающая уборки не
			участвуют в акции.
		</p>
	</div>
</main>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
</body>
</html>