<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
	 <!-- Swiper's CSS -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> -->
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">

    <!-- Календарь CSS -->
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock stylesheets %}
{% block content %}
<main>
    <div class="slider-button-conteiner">
        <div class="slider-button-prev">
            <img src="{% static 'img/иконки 11стрелка_прев.png' %}" alt="">
        </div>
        <div class="slider-button-next">
            <img src="{% static 'img/иконки 10_стрелка_след.png' %}" alt="">
        </div>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-elipse">
                    <div class="slide-elipse-number">
                        1
                    </div>
                </div>
                <div class="slide-title">
                    Выберите уборку
                </div>
                <div class="slide-choose_cleaning-conteiner">
                    <div class="slide-choose_cleaning-content">
                        <div class="slide-choose_cleaning-content-block">
                            <div id="choose_cleaning-1" class="slide-choose_cleaning-content-image">
                                <img src="{% static 'img/подд_слайд_1.png' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-name">
                                Поддерживающая
                            </div>
                            <div class="slide-choose_cleaning-content-min_image">
                                <img src="{% static 'img/Поддержка_слайд_1.png' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-text">
                                60 р/м<sup>2</sup>
                            </div>
                        </div>
                    </div>
                    <div class="slide-choose_cleaning-content">
                        <div class="slide-choose_cleaning-content-block">
                            <div id="choose_cleaning-2" class="slide-choose_cleaning-content-image">
                                <img src="{% static 'img/станд_слайд_1.png' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-name">
                                Стандартная
                            </div>
                            <div class="slide-choose_cleaning-content-min_image reverse-image">
                                <img src="{% static 'img/Стандарт_исконка.svg' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-text">
                                75 р/м<sup>2</sup>
                            </div>
                        </div>
                    </div>
                    <div class="slide-choose_cleaning-content">
                        <div class="slide-choose_cleaning-content-block">
                            <div id="choose_cleaning-3" class="slide-choose_cleaning-content-image">
                                <img src="{% static 'img/ген_слайд_1.png' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-name">
                                Генеральная
                            </div>
                            <div class="slide-choose_cleaning-content-min_image">
                                <img src="{% static 'img/Генералка_иконка.svg' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-text">
                                125 р/м<sup>2</sup>
                            </div>
                        </div>
                    </div>
                    <div class="slide-choose_cleaning-content">
                        <div class="slide-choose_cleaning-content-block">
                            <div id="choose_cleaning-4" class="slide-choose_cleaning-content-image">
                                <img src="{% static 'img/послестрой_слайд_1.png' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-name">
                                Послестроительная
                            </div>
                            <div class="slide-choose_cleaning-content-min_image">
                                <img src="{% static 'img/Послестрой_иконка.png' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-text">
                                140 р/м<sup>2</sup>
                            </div>
                        </div>
                    </div>
                    <div class="slide-choose_cleaning-content">
                        <div class="slide-choose_cleaning-content-block">
                            <div id="choose_cleaning-5" class="slide-choose_cleaning-content-image">
                                <img src="{% static 'img/окно_слайд_1.png' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-name">
                                Мойка окон
                            </div>
                            <div class="slide-choose_cleaning-content-min_image">
                                <img src="{% static 'img/окно_иконка.png' %}" alt="">
                            </div>
                            <div class="slide-choose_cleaning-content-text">
                                250 р/створка
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-elipse">
                    <div class="slide-elipse-number">
                        2
                    </div>
                </div>
                <div class="slide-title">
                    Укажите площадь <br> квартиры или дома
                </div>
                <div class="slide-input-conteiner-square">
                    <input type="text" class="slide-input-square" placeholder="75">
                    <span>м<sup>2</sup></span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-elipse">
                    <div class="slide-elipse-number">
                        3
                    </div>
                </div>
                <div class="slide-title">
                    Выберите дополнительные <br> услуги
                </div>
                <div class="slide-services-conteiner">
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/Холодильник.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/Холодильник_мин.png' %}" alt="">
                        </div>
                        <p class="slide-services-content-price">250 р.</p>
                        <p class="slide-services-content-name">Холодильник</p>
                        <div class="slide-services-content-help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <p>
                                Помоем холодильник внутри и снаружи. Если нужно помыть морозильную камеру, пожалуйста, разморозте её заранее.
                            </p>
                        </div>
                        <div class="services-counter">
                            <div class="services-counter-button-prev"></div>
                            <div class="services-counter-count"> x<span class="services-counter-count-per">1</span></div>
                            <div class="services-counter-button-next"></div>
                        </div>
                    </div>
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/Вытяжка.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/Вытяжка_midle.png' %}" alt="">
                        </div>
                        <p class="slide-services-content-price">300 р.</p>
                        <p class="slide-services-content-name">Вытяжка</p>
                        <div class="slide-services-content-help position_help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block position_help">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <p>
                                Помоем фильтры и вытяжку внутри и снаружи.
                            </p>
                        </div>
                        <div class="services-counter">
                            <div class="services-counter-button-prev"></div>
                            <div class="services-counter-count"> x<span class="services-counter-count-per">1</span></div>
                            <div class="services-counter-button-next"></div>
                        </div>
                    </div>
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/Микроволновка.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/Микроволновка_midle.png' %}" alt="">
                        </div>
                        <div class="slide-services-content-info">
                            <p class="slide-services-content-price">250 р.</p>
                            <p class="slide-services-content-name">Микроволновка</p>
                        </div>
                        <div class="slide-services-content-help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <p>
                                Помоем микроволновку внутри и снаружи
                            </p>
                        </div>
                        <div class="services-counter">
                            <div class="services-counter-button-prev"></div>
                            <div class="services-counter-count"> x<span class="services-counter-count-per">1</span></div>
                            <div class="services-counter-button-next"></div>
                        </div>
                    </div>
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/Шкафчик.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/Шкафчик_midle.png' %}" alt="">
                        </div>
                        <div class="slide-services-content-info">
                            <p class="slide-services-content-price">350 р.</p>
                            <p class="slide-services-content-name fz-25">
                                Внутри кухонных шкафчиков
                            </p>
                        </div>
                        <div class="slide-services-content-help position_help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block position_help">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <p>
                                Пожалуйста, заранее освободите шкафчики. Мы можем сделать это самостоятельно, за почасовую отплау
                            </p>
                        </div>
                    </div>
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/Окно.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/Окно_midle.png' %}" alt="">
                        </div>
                        <div class="slide-services-content-info">
                            <p class="slide-services-content-price">250 р./створка</p>
                            <p class="slide-services-content-name">Окна</p>
                        </div>
                        <div class="slide-services-content-help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <p>
                                Помоем до блеска любые окна!
                            </p>
                        </div>
                        <div class="services-counter services-counter-window">
                            <div class="services-counter-button-prev"></div>
                            <div class="services-counter-count"><span class="services-counter-count-per">10</span><br>створок</div>
                            <div class="services-counter-button-next"></div>
                        </div>
                    </div>
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/утюг.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/утюг_midle.png' %}" alt="">
                        </div>
                        <div class="slide-services-content-info">
                            <p class="slide-services-content-price">250 р./час</p>
                            <p class="slide-services-content-name">Глажка</p>
                        </div>
                        <div class="slide-services-content-help position_help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block position_help">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <span>
                                Примерное количество белья, которое мы гладим за час: <br>
                                рубашка - 6-7/<br>
                                брюки - 8-10/<br>
                                платья - 8-10/<br>
                                др. вещи - 13-15/<br>
                                комплект двуспального постельного белья - 25-30 мин.
                            </span>
                        </div>
                        <div class="services-counter">
                            <div class="services-counter-button-prev"></div>
                            <div class="services-counter-count"> <span class="services-counter-count-per">1</span> час</div>
                            <div class="services-counter-button-next"></div>
                        </div>
                    </div>
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/Стиралка.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/Стиралка_midle.png' %}" alt="">
                        </div>
                        <div class="slide-services-content-info">
                            <p class="slide-services-content-price">150 р./загрузка</p>
                            <p class="slide-services-content-name">Стирка</p>
                        </div>
                        <div class="slide-services-content-help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <p>
                                С удовольствием загрузим стиральную машину и развесим вещи на сушилку
                            </p>
                        </div>
                        <div class="services-counter">
                            <div class="services-counter-button-prev"></div>
                            <div class="services-counter-count"> x<span class="services-counter-count-per">1</span></div>
                            <div class="services-counter-button-next"></div>
                        </div>
                    </div>
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/Плита.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/Плита_midle.png' %}" alt="">
                        </div>
                        <div class="slide-services-content-info">
                            <p class="slide-services-content-price">450 р.</p>
                            <p class="slide-services-content-name">Духовка</p>
                        </div>
                        <div class="slide-services-content-help position_help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block position_help">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <p>
                                Отмоем духовку внутри и снаружи
                            </p>
                        </div>
                        <div class="services-counter">
                            <div class="services-counter-button-prev"></div>
                            <div class="services-counter-count"> x<span class="services-counter-count-per">1</span></div>
                            <div class="services-counter-button-next"></div>
                        </div>
                    </div>
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/Книга.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/Книга_midle.png' %}" alt="">
                        </div>
                        <div class="slide-services-content-info">
                            <p class="slide-services-content-price">600 р./час</p>
                            <p class="slide-services-content-name fz-25">
                                Доп. поручения
                            </p>
                        </div>
                        <div class="slide-services-content-help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <p>
                                Выполним любые задачи, не входящие в перечнь.
                            </p>
                        </div>
                        <div class="services-counter">  
                            <div class="services-counter-button-prev"></div>
                            <div class="services-counter-count"> <span class="services-counter-count-per">1</span> час</div>
                            <div class="services-counter-button-next"></div>
                        </div>
                    </div>
                    <div class="slide-services-content">
                        <div class="slide-services-content-image">
                            <img class="slide-services-content-image-full" src="{% static 'img/киска.png' %}" alt="">
                            <img class="slide-services-content-image-middle" src="{% static 'img/киска_midle.png' %}"' %} alt="">
                        </div>
                        <div class="slide-services-content-info">
                            <p class="slide-services-content-price">100 р.</p>
                            <p class="slide-services-content-name fz-23">Поменять наполнитель и помыть лоток</p>
                        </div>
                        <div class="slide-services-content-help position_help">
                            ?
                        </div>
                        <div class="slide-services-content-help-block position_help">
                            <img src="{% static 'img/стрелочка.svg' %}" alt="">
                            <p>
                                С заботой о Ваших любимых питомцах!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide no-scale">
                <div class="swiper-slide-flex">
                    <div class="swiper-slide-stage_4">
                        <div class="slide-elipse">
                            <div class="slide-elipse-number">
                                4
                            </div>
                        </div>
                        <div class="slide-title">
                            Выберите дату и время
                        </div>

                        <div class="calendar">
                            <div class="month">
                                <i class="prev">
                                    <svg class="strelka-left-3" viewBox="0 0 5 9">
                                        <path
                                            d="M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z">
                                        </path>
                                    </svg>
                                </i>
                                <div class="date">
                                    <h1></h1>
                                </div>
                                <i class="next">
                                    <svg class="strelka-right-3" viewBox="0 0 5 9">
                                        <path
                                            d="M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z">
                                        </path>
                                    </svg>
                                </i>
                            </div>
                            <div class="weekdays">
                                <div>пн</div>
                                <div>вт</div>
                                <div>ср</div>
                                <div>чт</div>
                                <div>пт</div>
                                <div>сб</div>
                                <div>вс</div>
                            </div>
                            <div class="days"></div>
                        </div>

                        <div class="swiper-slide-stage_4-input-block">
                            <input type="time" value="12:00" class="swiper-slide-stage_4-input">
                        </div>
                    </div>


                    <div class="swiper-slide-stage_5">
                        <div class="slide-elipse">
                            <div class="slide-elipse-number">
                                5
                            </div>
                        </div>
                        <div class="slide-title">
                            Ваши контакты
                        </div>
                        <div class="swiper-slide-stage_5-content">
                            <input type="text" class="stage_5-content-input" placeholder="Имя">
                            <input type="text" class="stage_5-content-input" placeholder="Фамилия">
                            <input type="tel" class="stage_5-content-input" placeholder="Телефон">
                            <input type="email" class="stage_5-content-input" placeholder="Электронная почта">
                        </div>
                        <input type="text" class="swiper-slide-stage_5-input" placeholder="Адрес">
                    </div>
                </div>
            </div>
            <div class="swiper-slide no-scale">
                <div class="swiper-slide-flex">
                    <div class="swiper-slide-stage_6">
                        <div class="slide-elipse">
                            <div class="slide-elipse-number">
                                6
                            </div>
                        </div>
                        <div class="slide-title">
                            Ваш заказ:
                        </div>
                        <ul class="slide_information-conteiner">
                            <li class="slide_information-content slide_information-content-full">
                                <p>Генеральная уборка, 75 м<sup>2</sup></p>
                            </li>
                            <li class="slide_information-content">
                                <p>Холодильник, глажка <span class="italic">(1 час)</span>,</p>
                                <p>стирка <span class="italic">(2 загрузки)</span>,</p>
                                <p>доп. поручения <span class="italic">(1.5 часа)</span>,</p>
                                <p> окна <span class="italic">(10 ств-к)</span></p>
                            </li>
                            <li class="slide_information-content">
                                <p>20 августа в 09:00</p>
                            </li>
                            <li class="slide_information-content">
                                <p>
                                    Дорога на Турухтанные острова, д. 100 кв. 1000
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="swiper-slide-stage_7">
                        <div class="slide-elipse">
                            <div class="slide-elipse-number">
                                7
                            </div>
                        </div>
                        <div class="slide-title">
                            Способ оплаты
                        </div>
                        <ul class="slide_information-conteiner slide_information-conteiner-size-7">
                            <li class="slide_information-content slide_information-content-size">
                                <p>Наличные</p>
                            </li>
                            <li class="slide_information-content slide_information-content-size">
                                <p>Банковская карта</p>
                            </li>
                            <li class="slide_information-content slide_information-content-size">
                                <p>Эппл</p>
                            </li>
                            <li class="slide_information-content slide_information-content-size">
                                <p>
                                    Гугл
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide-button">
                    <button class="application-button">
                        Оформить заказ
                    </button>
                </div>
            </div>
        </div>
        <div class="application-total">
            Итого: <span>9350</span> р.
        </div>
</main>
{% endblock content %}
{% block scripts %}
  <!-- Календарь JS -->
  <script src="{% static 'js/calendar.js' %}"></script>

  <!-- Swiper JS -->
  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

  <!-- javascript -->
  <script src="{% static 'js/script_application.js' %}"></script>
{% endblock scripts %}
</body>
</html>